<%- model_class = Battle -%>
<div class="page-header">
  <h1><%= Character.first.name %> vs Computer</h1>
</div>

<%= form_for @battle, :html => { :class => 'form-horizontal' } do |f| %>

<% if @battle.fight %>
  <h2>Winner</h2>
<% else %>
	<h2>Loser</h2>
<% end %>


  <div class="form-actions">
    <%= f.submit "Battle!", :class => 'btn btn-primary' %>
  </div>
<% end %>
